<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Definity - Landing Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('styles/vendor/bootstrap.min.css') }}">
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('fonts/et-lineicons/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/linea-font/css/linea-font.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/fontawesome/css/font-awesome.min.css') }}">
    <!-- Slider -->
    <link rel="stylesheet" href="{{ asset('styles/vendor/slick.css') }}">
    <!-- Lightbox -->
    <link rel="stylesheet" href="{{ asset('styles/vendor/magnific-popup.css') }}">
    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('styles/vendor/animate.css') }}">


    <!-- Definity CSS -->
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/responsive.css') }}">

    <!-- JS -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
<!-- Google Tag Manager -->
<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-MH7TSF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MH7TSF');</script>
<!-- End Google Tag Manager -->

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- ========== Preloader ========== -->

<div class="preloader">
    <img src="{{ asset('images/loader.svg') }}" alt="Loading...">
</div>



<!-- Buy & Feedback Buttons -->
<div class="quick-link-btns">
    <a href="http://themeforest.net/item/definity-multipurpose-onemulti-page-template/12379946?ref=octarinethemes" class="quick-btn buy-btn" target="_blank"><i class="fa fa-shopping-cart"></i> <span>Buy Now</span></a>
    <a href="http://goo.gl/forms/X7cMdAfRWh" class="quick-btn feedback-btn" target="_blank"><i class="fa fa-question-circle"></i> <span>Feedback</span></a>
</div><!-- / .quick-link-btns -->



<!-- ========== Navigation ========== -->

<nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href="index.html"><img class="navbar-logo" src="{{ asset('images/logo.png') }}" alt="Definity - Logo"></a>
    </div>

    <!-- Navbar Links -->
    <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="#home">Home<span class="sr-only"></span></a></li>
            <li><a href="#features">Features<span class="sr-only"></span></a></li>
            <li><a href="#offer">Offer<span class="sr-only"></span></a></li>
            <li><a href="#testimonials">Testimonials<span class="sr-only"></span></a></li>
            <li><a href="#pricing">Pricing<span class="sr-only"></span></a></li>
            <li><a href="index.html">All Demos<span class="sr-only"></span></a></li>
        </ul><!-- / .nav .navbar-nav -->
    </div><!--/.navbar-collapse -->
</nav><!-- / .navbar -->



<!-- ========== Hero Cover ========== -->

<div id="home" class="landing-hero">
    <div class="bg-overlay">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="container">
                    <div class="row">

                        <!-- Heading -->
                        <div class="col-md-5 heading-wrapper wow fadeInLeft" data-wow-duration="1.5s">
                            <h1 class="lead">Reach the top</h1>
                            <h4 class="h-alt subheading">Catchy Subheading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita neque praesentium eum earum aperiam quas impedit commodi hic, architecto, error, quae. Commodi, similique! Voluptatum iste necessitatibus eum aut temporibus, alias!</p>
                            <a href="#features" class="cta-btn">Learn more</a>
                        </div>

                        <!-- Signup Form -->
                        <div class="col-md-offset-3 col-md-4 form-wrapper wow fadeInRight" data-wow-duration="1.5s">
                            <form action="http://www.octarinethemes.com/demos/definity/post" class="form-group">
                                <input class="form-control" type="text" placeholder="Full Name">
                                <input class="form-control" type="password" placeholder="Password">
                                <input class="form-control" type="email" placeholder="Email">
                                <input class="btn-ghost-light" type="submit" value="Start free trial">
                            </form>
                        </div>

                    </div><!-- / .row -->
                </div><!-- / .container -->
            </div><!-- / .hero-content -->
        </div><!-- / .hero-wrapper -->

        <!-- Scroller -->
        <a href="#features" class="scroller">
            <span class="scroller-text">scroll down</span>
            <span class="linea-basic-magic-mouse"></span>
        </a>

    </div><!-- / .bg-overlay -->
</div><!-- / .main-op -->



<!-- ========== Features ========== -->

<div id="features" class="container-fluid ft-layout-50">
    <div class="row">

        <!-- Feature 1 -->
        <div class="ft-item">
            <div class="col-lg-6 ft-img-wrapper">
                <img src="{{ asset('images/landing-ft-1.jpg') }}" alt="Features Image">
            </div>
            <div class="col-lg-6 ft-content-wrapper">
                <h5>Feature One</h5>
                <h6 class="h-alt">Lorem ipsum dolor sit amet</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="btn-ghost">Call to Action</button>
            </div>
        </div>

        <!-- Feature 2 -->
        <div class="ft-item">
            <div class="col-lg-6 ft-content-wrapper">
                <h5>Feature Two</h5>
                <h6 class="h-alt">Lorem ipsum dolor sit amet</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="btn-ghost">Call to Action</button>
            </div>
            <div class="col-lg-6 ft-img-wrapper">
                <img src="{{ asset('images/landing-ft-2.jpg') }}" alt="Features Image">
            </div>
        </div>

        <!-- Feature 3 -->
        <div class="ft-item">
            <div class="col-lg-6 ft-img-wrapper">
                <img src="{{ asset('images/landing-ft-3.jpg') }}" alt="Features Image">
                <div class="ft-video-wrapper">
                    <!-- <a href="https://www.youtube.com/watch?v=k5C1Bt4k-iA" class="popup-video"><i class="fa fa-play play-btn"></i></a> -->
                    <a href="https://www.youtube.com/watch?v=k5C1Bt4k-iA" class="play-btn popup-video">
                        <span class="play-icon linea-music-play-button"></span>
                        <h5>Play video</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 ft-content-wrapper">
                <h5>Video Highlight</h5>
                <h6 class="h-alt">Lorem ipsum dolor sit amet</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="btn-ghost">Call to Action</button>
            </div>
        </div>

    </div>
</div>



<!-- ========== Features - Lists ========== -->

<section id="offer" class="container ft-small-icons">
    <div class="section">
        <header class="sec-heading">
            <h2>Exclusive offer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
        </header>

        <div class="row ws-s">

            <!-- List 1 -->
            <div class="col-md-4">
                <ul class="list-square-check-full">
                    <!-- Item 1 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 2 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 3 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                </ul>
            </div><!-- / .col-md-4 -->

            <!-- List 2 -->
            <div class="col-md-4">
                <ul class="list-square-check-full">
                    <!-- Item 1 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 2 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 3 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                </ul>
            </div><!-- / .col-md-4 -->

            <!-- List 3 -->
            <div class="col-md-4">
                <ul class="list-square-check-full">
                    <!-- Item 1 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 2 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                    <!-- Item 3 -->
                    <li>
                        <h6>Extra Awesome Feature</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </li>
                </ul>
            </div><!-- / .col-md-4 -->

        </div><!-- / .row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#pricing" class="btn btn-large">Subscribe Now</a>
            </div>
        </div>

    </div><!-- / .section -->
</section><!-- / .container .ft-frames -->



<!-- ========== Testimonials ========== -->

<div id="testimonials" class="gray-bg">
    <section class="container testimonials-3col">
        <div class="row section">

            <header class="sec-heading">
                <h2>What people say about us</h2>
                <span class="subheading">Read some of the testimonials from our amazing clients</span>
            </header>

            <!-- Item 1 -->
            <div class="col-md-4 mb-sm-50">
                <div class="t-item wow fadeIn" data-wow-duration="1s">
                    <img src="{{ asset('images/avatar-1.png') }}" alt="Testimonial">
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                        <footer>
                            <cite>by Julian Schmitz<span>Google</span></cite>
                        </footer>
                    </blockquote>
                    <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
            </div><!-- / .col-md-4 -->

            <!-- Item 2 -->
            <div class="col-md-4 mb-sm-50">
                <div class="t-item wow fadeIn"  data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="{{ asset('images/avatar-2.png') }}" alt="Testimonial">
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                        <footer>
                            <cite>by Cecilia Acosta<span>Apple</span></cite>
                        </footer>
                    </blockquote>
                    <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
            </div><!-- / .col-md-4 -->

            <!-- Item 3 -->
            <div class="col-md-4">
                <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                    <img src="{{ asset('images/avatar-3.png') }}" alt="Testimonial">
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                        <footer>
                            <cite>by Gerald Pena<span>Facebook</span></cite>
                        </footer>
                    </blockquote>
                    <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
            </div><!-- / .col-md-4 -->

        </div><!-- / .row -->

    </section><!-- / .container -->
</div><!-- / .gray-bg -->



<!-- ========== Video Background Section ========== -->

<div class="video-bg-section">

    <!-- Video Background -->
    <div id="section-video" class="player"
         data-property="{videoURL:'http://youtu.be/Scxs7L0vhZ4',containment:'.video-bg-section',autoPlay:true, mute:true, startAt:71, stopAt:300, opacity:1}">
    </div>

    <!-- Video Link -->
    <div class="video-sec-content">
        <h3 class="cta-lead h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Show your story with Definity</h3>
        <a href="https://www.youtube.com/watch?v=k5C1Bt4k-iA" class="play-btn popup-video">
            <span class="play-icon linea-music-play-button"></span>
            <h5>Play video</h5>
        </a>
    </div><!-- / .video-sec-content -->

</div><!-- / .video-bg-section -->



<!-- ========== Pricing Tables - 3col ========== -->

<div id="pricing" class="gray-bg">
    <section class="container section pricing-tables">

        <header class="sec-heading">
            <h2>Our Prices</h2>
            <span class="subheading">Low prices lots of value </span>
        </header>

        <div class="row">

            <!-- Table 1 -->
            <div class="col-md-4">
                <div class="p-table wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">

                    <!-- Heading -->
                    <h4>Starter</h4>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="value">11</span>
                        <span class="type">\mo</span>
                    </div>
                    <p class="desc">Test the waters</p>
                    <hr>

                    <!-- Items -->
                    <ul class="p-items">
                        <li><b>10Gb Data</b> Storage</li>
                        <li><b>1 Domain</b> Name</li>
                        <li><b>Full</b> Access</li>
                        <li><b>1 Year</b> Licence</li>
                        <li><b>Free</b> Support</li>
                    </ul>
                    <hr>

                    <button class="btn-ghost">Sign up now</button>
                </div><!-- / .p-table -->
            </div><!-- / .col-md-4 -->


            <!-- Table 2 (featured) -->
            <div class="col-md-4">
                <div class="p-table pt-featured wow fadeInUp" data-wow-duration="1s">

                    <!-- Star -->
                    <div class="banner">
                        <span class="star"><i class="fa fa-star"></i></span>
                    </div>

                    <!-- Header -->
                    <h4>Professional</h4>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="value">51</span>
                        <span class="type">\mo</span>
                    </div>
                    <p class="desc">Get the job done</p>
                    <hr>

                    <!-- Items -->
                    <ul class="p-items">
                        <li><b>50Gb Data</b> Storage</li>
                        <li><b>5 Domain</b> Name</li>
                        <li><b>Full</b> Access</li>
                        <li><b>2 Year</b> Licence</li>
                        <li><b>Free</b> Support</li>
                    </ul>
                    <hr>

                    <button class="btn-ghost">Sign up now</button>
                </div><!-- / .p-table -->
            </div><!-- / .col-md-4 -->


            <!-- Table 3 -->
            <div class="col-md-4">
                <div class="p-table wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">

                    <!-- Header -->
                    <h4>Ultimate</h4>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="value">71</span>
                        <span class="type">\mo</span>
                    </div>
                    <p class="desc">The best or nothing</p>
                    <hr>

                    <!-- Items -->
                    <ul class="p-items">
                        <li><b>200Gb Data</b> Storage</li>
                        <li><b>15 Domain</b> Name</li>
                        <li><b>Full</b> Access</li>
                        <li><b>4 Year</b> Licence</li>
                        <li><b>Free</b> Support</li>
                    </ul>
                    <hr>

                    <button class="btn-ghost">Sign up now</button>
                </div><!-- / .p-table -->
            </div><!-- / .col-md-4 -->

        </div><!-- / .row -->


        <!-- Clients Slider -->
        <div class="ws-m"></div>
        <ul class="t-clients clients-slider">
            <li><a href="#"><img src="{{ asset('images/brand-gray-1.png') }}" alt="Client"></a></li>
            <li><a href="#"><img src="{{ asset('images/brand-gray-2.png') }}" alt="Client"></a></li>
            <li><a href="#"><img src="{{ asset('images/brand-gray-3.png') }}" alt="Client"></a></li>
            <li><a href="#"><img src="{{ asset('images/brand-gray-4.png') }}" alt="Client"></a></li>
            <li><a href="#"><img src="{{ asset('images/brand-gray-5.png') }}" alt="Client"></a></li>
            <li><a href="#"><img src="{{ asset('images/brand-gray-2.png') }}" alt="Client"></a></li>
        </ul><!-- / .t-clients -->

    </section><!-- / .container -->
</div><!-- / .gray-bg -->



<!-- ========== Footer Litle ========== -->

<footer id="contact" class="footer-litle">

    <!-- Social Links -->
    <div class="dark-bg">
        <div class="container footer-social-links">
            <div class="row">

                <ul>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Dribbble</a></li>
                    <li><a href="#">Behance</a></li>
                </ul>

            </div>
        </div><!-- / .container -->
    </div><!-- / .dark-bg -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <small>&copy; 2015 Definity. Made by <a class="no-style-link" href="http://themeforest.net/user/octarinethemes" target="_blank">OctarineThemes</a></small>
                </div>

                <div class="col-md-6">
                    <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

            </div><!-- / .row -->
        </div><!-- / .container -->
    </div><!-- / .copyright -->
</footer><!-- / .footer-litle -->



<!-- ========== Scripts ========== -->

<script src="{{ asset('js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('js/vendor/google-fonts.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.easing.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/vendor/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ asset('js/vendor/smoothscroll.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.localScroll.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.parallax.js') }}"></script>
<script src="{{ asset('js/vendor/slick.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('js/vendor/countup.min.js') }}"></script>
<script src="{{ asset('js/vendor/isotope.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/vendor/wow.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.mb.YTPlayer.min.js') }}"></script>

<!-- Definity JS -->
<script src="{{ asset('js/main.js') }}"></script>
</body>

<!-- Mirrored from www.octarinethemes.com/demos/definity/index-landing.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Jun 2017 08:27:50 GMT -->
</html>